*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*fin Reset*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: "KGRedHands";
    src: url(../font/KGRedHands.ttf);
}

/*fin estilos generales*/
/*encabezado*/
.encabezado {
    width: 100%;
    height: 100px;
    background-image: url(../img/imag002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: start;
    justify-content: space-between;
    top: 0;
    position: fixed;
    z-index: 10;

    .mensaje {
        color: rgb(92, 89, 89);
        font-size: 25px;
        font-family: "KGRedHands";
        margin-top: 10px;
        margin-left: 20px;
    }

    .bg-body-personal {
        background-color: rgb(180, 179, 179);
    }

    .menu_boot {
        ul {
            font-weight: bold;

            li {
                position: relative;

                &::before {
                    content: "";
                    width: 93%;
                    height: 4px;
                    background-color: red;
                    position: absolute;
                    top: 35px;
                }

                a {
                    color: whitesmoke;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}
    .seccion_grilla {
        height: 100%;
        background-color: #434346;
        margin-top: 130px;

        .lista_temas {
            display: grid;
            grid-template-columns: repeat (3, 1fr);
            grid-template-rows: repeat(2, 50%);
            grid-template-areas:
                "cajitas1 cajitas2 cajitas3"
                "cajitas4 cajitas5 cajitas6";
            gap: 3px;

            .temas_index1,
            .temas_index2,
            .temas_index3,
            .temas_index4,
            .temas_index5,
            .temas_index6 {
                width: 90%;
                height: 95%;
                padding: 10px;
                background-color: white;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: auto;
                justify-self: center;
                align-self: center;

                .img_chica {
                    width: 200px;
                    height: 50%;
                }

                h3 {
                    font-size: 1.2rem;
                    font-weight: bold;

                    &:hover {
                        background-color: red;
                        color: aliceblue;
                    }
                }

                p {
                    font-size: 0.8rem;
                }

                .boton_ver_mas {
                    align-self: flex-end;

                    &:hover {
                        content: "";
                        font-weight: bold;
                        color: red;
                    }
                }
            }

            .temas_index1 {
                grid-area: cajitas1;
            }

            .temas_index2 {
                grid-area: cajitas2;
            }

            .temas_index3 {
                grid-area: cajitas3;
            }

            .temas_index4 {
                grid-area: cajitas4;
            }

            .temas_index5 {
                grid-area: cajitas5;
            }

            .temas_index6 {
                grid-area: cajitas6;
            }
        }
    }
/* Fin grilla*/
footer{
    background-color: #b5b7b8;
    height: 60px;
    padding: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: center;
    width: 100%;
}


