/*estilos encabezado*/
.encabezado {
    width: 100%;
    height: 100px;
    background-image: url(../img/imag002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: start;
    justify-content: space-between;
    top: 0;
    position: fixed;
    z-index: 10;

    .mensaje h2 {
        color: map-get($colores, gris_oscuro);
        font-size: 25px;
        font-family: "KGRedHands";
        margin-top: 10px;
        margin-left: 20px;
    }

    .bg-body-personal {
        background-color: map-get($colores, gris_claro);
    }

    .menu_boot {
        ul {
            font-weight: $fuente_negrita;

            li {
                position: relative;

                &::before {
                    content: "";
                    width: 93%;
                    height: 4px;
                    background-color: map-get($colores, rojo);
                    position: absolute;
                    top: 35px;
                }

                a {
                    color: map-get($colores, blanco);

                    &:hover {
                        color: map-get($colores, rojo);
                    }
                }
            }
        }
    }
}

/*fin estilos encabezado*/