/*estilos generales*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: "KGRedHands";
    src: url(../font/KGRedHands.ttf);
}

/*fin estilos generales*/